*{
    margin : 0;
    padding: 0;
}
body{
    background: rgb(224, 191, 191);
    overflow: hidden;
}
.gameContainer{
background-image: url(bg.png);
width: 100%;
height: 100vh;
background-repeat: no-repeat;
background-size: 100vw 100vh;

}
.dino{
    background-image: url(dino.png);
     background-repeat: no-repeat;
     background-size: cover;
     width:233px;
     height: 114px;
     position: absolute;
     bottom: 15%;
     left: 12px;

}
.obstacle{
    width: 166px;
    height: 113px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom:15% ;
    right: 155px;

}
.animateDino{
    animation: dino 0.6s linear;

}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
.gameOver{
    position: relative;
    top: 63px;
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    visibility: hidden;
}
#scoreCont{
    position: relative;
    width: 204px;
    height: 31px;
    align-items: center;
    justify-content: center;
    top: -55px;
    border: 4px solid black;
    padding: 13px; 
    font-size: 20px ;
    font-family: cursive;
    font-weight: bolder;
}
@keyframes dino{
    0%{
bottom : 15%
    }
    50%{
bottom:  500px;
    }
    100%{
        bootom : 15%;

    }
}
@keyframes obstacleAni{
    0%{
        left : 100vw;
    }
    100%{
        left : -10vw;
    }
}